*
{
    margin: 0;
    padding: 0;
}

.tyoingSpeedContainer
{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    height: 70vh;
}

.tyoingSpeedContainer h1
{
    padding: 1% ;
    text-align: center;
    box-shadow: 0 0 5px black;
    background-color: rgb(237, 242, 246);
}
.tyoingSpeedContainer >p{
    font-size: 1.5em;
}
#typingSpeedBtn
{
   padding: 0.5em 0.8em;
   font-size: 1.7em;
}
#typingSpeedInput
{
    width: 50vw;
    border: 2px solid black;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    font-size: 25px;
}
#typingSpeedReset
{
    font-size: 20px;
    padding: 10px 20px;
}
@media (max-width:670px)
{
    .typingSpeedContainer
{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    height: 70vh;
}
.typingSpeedContainer > p
{
    font-size: 1.2em;
}
#typingSpeedBtn
{
   padding: 0.1em 0.23em;
   font-size: 1.7em;
}
#typingSpeedInput
{
    font-size: 20px;
}
#typingSpeedReset
{
    font-size: 20px;
    padding: 30px;
}
}