main
{
  background-color: rgb(194, 191, 189);
  height: 92.5vh;
}
.quizMainContainer
{
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.quizSubContainer
{
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 40px 0px;
  box-shadow: 2px 2px 2px 2px rgb(173, 170, 170);
  border-radius: 10px;
  background-color: rgb(229, 228, 226);
  margin: 10px 10px;
}
.options
{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.options button
{
  width: 90%;
  border: none;
  padding: 13px;
  box-shadow: 2px 2px 2px 2px rgb(210, 206, 206);

}
#next
{
  width: 100px;
  height: 40px;
  color: white;
  background-color: black;
  border-radius: 5px;
}
.correct
{
  background-color: blue;
}
.wrong
{
  background-color: red;
}
.bg
{
  background-color: white;
}
.qsuccess
{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(242, 238, 234);
  border: none;
}